*.o
*.a
*.so

data-drift

.DS_Store

# Folders
_obj
_test

# Go binary
*.exe
*.test

# Output files
*.out
dist

# Dependency directories
vendor/

.env
.env.secret

*.pem

# Pycharm internal config
.idea


# Rust
**/target